<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- 分頁icon -->
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg" type="image/x-icon">
  <title><%- title %></title>
  
  <!-- 字體＆icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
  
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="assets/style/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
</head>

<body>
  <header class="bg-primary z-50">
    <!-- 手機版 -->
    <div class="container  md:hidden py-6 flex justify-between items-center ">
      <a href="index.html"><img class="w-6" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg" alt="logo"></a>
      <input class="leading-4 text-2xl text-secondary cursor-pointer" type="button" value="=">
    </div>
    <!-- 平版、電腦版 -->
    <div class="container hidden md:flex md:items-center md:justify-between py-6">
      <a href="index.html"><img class="w-44" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo.svg" alt="logo"></a>
      <ul class="flex items-center -mx-6 nav">
        <li><a href="index.html" class="text-lg text-white px-6"> 首頁</a></li>
        <li><a href="lessio.html" class="text-lg text-white px-6">課程介紹</a></li>
        <li><a href="#" class="text-lg text-white px-6 flex items-center"><span class="material-icons mr-[6px]">account_circle</span>登入</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="bg-primary">
    <p class="container Azeret_Mono text-light-primary text-xs text-center py-4 leading-[14px] md:text-base md:leading-[19px]">Coding Home © 2022 All Rights Reserved</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>

  <!-- 學習的程式區塊Swiper-JS -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 20,
      freeMode: true,
      loop:true,
      breakpoints: {
    // when window width is >= 640px
    375: {
      slidesPerView: 2,
      spaceBetween: 20,
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 3,
      spaceBetween: 10
    },
    // when window width is >= 768px
    768: {
      slidesPerView: 4,
      spaceBetween: 10
    },
    // when window width is >= 1024px
    1024: {
      slidesPerView: 5,
      spaceBetween: 10
    },
    // when window width is >= 1280px
    1280: {
      slidesPerView: 6,
      spaceBetween: 10
    },
  },
  autoplay: {
    delay: 1500,
    disableOnInteraction: false,
  },
    });
  </script>
  
</body>

</html>
