<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- 分頁icon -->
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg" type="image/x-icon">

  <!-- OG預覽 -->
  <meta property="og:title" content="全台最豐富的程式家教">
  <meta property="og:description" content="學習標準化的電腦形式語言 培養運算思維和邏輯素養">
  <meta property="og:image" content="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/article03.jpg">

  <title><%- title %></title>
  
  <!-- 字體＆icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
  
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="assets/style/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <header class="bg-primary fixed w-full top-0 z-10">
    <!-- 手機版 -->
    <div class="container py-6 flex justify-between items-center md:hidden">
      <a href="index.html"><img class="w-6" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg" alt="logo-SM"></a>
      <input class="toggle hidden" type="checkbox" name="toggle" id="toggle">
      <label for="toggle" class="block">
        <div class="hamburger-container">
          <span></span>
          <span></span>
        </div>
      </label>

      <!-- 選單 -->
      <ul class="nav_sm">
        <li><a class="block text-lg leading-normal text-center text-white py-3 sm:hover:bg-secondary sm:hover:text-primary sm:transition duration-500"  href="index.html">首頁</a></li>
        <li><a class="block text-lg leading-normal text-center text-white py-3 sm:hover:bg-secondary sm:hover:text-primary sm:transition duration-500"  href="lessio.html">課程介紹</a></li>
        <li><a class="flex text-lg leading-normal items-center justify-center  text-white py-3 sm:hover:bg-secondary sm:hover:text-primary sm:transition duration-500"  href="#"><span class="material-icons mr-[6px]">account_circle</span>登入</a></li>
      </ul>
    </div>



    <!-- 平版、電腦版 -->
    <div class="container hidden md:flex md:items-center md:justify-between py-6">
      <a href="index.html"><img class="w-44" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo.svg" alt="logo"></a>
      <ul class="flex items-center -mx-6 nav">
        <li><a href="index.html" class="text-lg text-white px-6"> 首頁</a></li>
        <li><a href="lessio.html" class="text-lg text-white px-6">課程介紹</a></li>
        <li><a href="#" class="text-lg text-white px-6 flex items-center"><span class="material-icons mr-[6px]">account_circle</span>登入</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="bg-primary">
    <p class="container Azeret_Mono text-light-primary text-xs text-center py-4 leading-[14px] md:text-base md:leading-[19px]">Coding Home © 2022 All Rights Reserved</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 

  <!-- 學習的程式區塊Swiper-JS -->
  <script>
    var swiper = new Swiper(".module1 .mySwiper", {
      slidesPerView: 2,
      spaceBetween: 20,
      freeMode: true,
      loop:true,
      grabCursor: true,
      breakpoints: {
    // when window width is >= 640px
    375: {
      slidesPerView: 2,
      spaceBetween: 20,
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 3,
      spaceBetween: 10
    },
    // when window width is >= 768px
    768: {
      slidesPerView: 4,
      spaceBetween: 10
    },
    // when window width is >= 1024px
    1024: {
      slidesPerView: 5,
      spaceBetween: 10
    },
    // when window width is >= 1280px
    1280: {
      slidesPerView: 6,
      spaceBetween: 10
    },
  },
      autoplay: {
      delay: 1500,
      disableOnInteraction: false,
      },
  });
  </script>

  <!-- AOS-JS -->
  <script>
AOS.init();

// You can also pass an optional settings object
// below listed default settings
AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: true, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
  </script>

  <!-- 程式超能力區塊Swiper-JS -->
  <script>
    var swiper = new Swiper(".module2 .mySwiper", {
      spaceBetween: 30,
      loop:true,
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      grabCursor: true,
      autoplay: {
      delay: 2000,
      },
    });
  </script>
</body>

</html>
