



.nav{
    li{
        position: relative;
        &:hover{
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 5px;
                top: 120%;
                background: #62DB54;
            }
        }

    }
}
.banner{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home_mobile.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_teaching{
    h2{
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: #62DB54;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin-top: 16px;
        }
    }
}
.h2_title{
    h2{
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: #62DB54;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin-top: 16px;
        }
    }
}
.suggestion_class{
    position: relative;
    &::after{
        content: " ";
        position: absolute;
        background-color: #C1C1C1;
        width: 100%;
        height: 1px;
        bottom: 69px;
        left: 0;
    }
}
.shadow_01{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
    transition: .8s;
    &:hover{
        box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
    }
    h2{
        position: relative;
        &:after{
            content: ' ';
            position: absolute;
            background-color: #62DB54;
            width: 50px;
            height: 3px;
            top: 100%;
            left: 50%;
            transform: translate(-50%,16px);
        }
    }
}
.shadow_02{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
    transition: .8s;
    &:hover{
        box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
    }
    h2{
        position: relative;
        &:after{
            content: ' ';
            position: absolute;
            background-color: #62DB54;
            width: 50px;
            height: 3px;
            top: 100%;
            left: 50%;
            transform: translate(-50%,16px);
        }
    }
}
.shadow_03{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
    transition: .8s;
    &:hover{
        box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
    }
    h2{
        position: relative;
        &:after{
            content: ' ';
            position: absolute;
            background-color: #62DB54;
            width: 50px;
            height: 3px;
            top: 100%;
            left: 50%;
            transform: translate(-50%,16px);
        }
    }
}
.shadow_04{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
    transition: .8s;
    &:hover{
        box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
    }
    h2{
        position: relative;
        &:after{
            content: ' ';
            position: absolute;
            background-color: #62DB54;
            width: 50px;
            height: 3px;
            top: 100%;
            left: 50%;
            transform: translate(-50%,16px);
        }
    }
}
.slide_superpower{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        border: 1px solid #C1C1C1;
        border-radius: 24px;
        width: 100%;
        height: 100%;
        top: 8px;
        left: -8px;
        z-index: -1;
    }
}



//768px解析度
@media (min-width:768px) {
    .banner{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg);
    }
    .home_teaching{
        h2{
            &::after{
                left: 50% ;
                transform: translate(-50%,0%);
            }
        }
    }
}

//1024解析度
@media (min-width:1024px) {
    .home_teaching{
        h2{
            &::after{
                left: 0% ;
                transform: translate(0%,0%);
            }
        }
    }
    .shadow_01{
        box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
    }
    .shadow_02{
        box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
    }
    .shadow_03{
        box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
    }
    .shadow_04{
        box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
    }
}

//1280解析度
@media (min-width:1280px) {
    .shadow_01,.shadow_02,.shadow_03,.shadow_04{
        h2{
            &:after{
                background-color: #62DB54;
                top: 100%;
                left: 0;
                transform: translate(0,16px);
            }
        }
    }

}