@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: 'Noto Sans TC', 'sans-serif','Microsoft JhengHei';
    }
}

.Azeret_Mono{
    font-family: Azeret Mono, monospace;
}


@layer components{
    .btn{
        @apply p-4 border border-white rounded-lg text-white text-base leading-normal block mr-4 w-40
    }
    .btn-lg{
        @apply md:px-8 md:py-6 md:text-lg md:justify-center
    }
    .btn-gradient{
        background: linear-gradient(104deg,#09ACF5,#62DB54);
        transition: all .5s;
        @apply text-lg leading-normal px-8 py-2 w-auto border-0 mr-0 lg:hover:ring-2 lg:hover:ring-secondary
    }
    .btn-class{
        @apply px-0 py-4 text-center
    }
}



