.nav li {
  position: relative;
}
.nav li:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 120%;
  background: #62DB54;
}

.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home_mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_teaching h2 {
  position: relative;
}
.home_teaching h2::after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #62DB54;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 16px;
}

.h2_title h2 {
  position: relative;
}
.h2_title h2::after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #62DB54;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 16px;
}

.suggestion_class {
  position: relative;
}
.suggestion_class::after {
  content: " ";
  position: absolute;
  background-color: #C1C1C1;
  width: 100%;
  height: 1px;
  bottom: 69px;
  left: 0;
}

.shadow_01 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
  transition: 0.8s;
}
.shadow_01:hover {
  box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
}
.shadow_01 h2 {
  position: relative;
}
.shadow_01 h2:after {
  content: " ";
  position: absolute;
  background-color: #62DB54;
  width: 50px;
  height: 3px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 16px);
}

.shadow_02 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
  transition: 0.8s;
}
.shadow_02:hover {
  box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
}
.shadow_02 h2 {
  position: relative;
}
.shadow_02 h2:after {
  content: " ";
  position: absolute;
  background-color: #62DB54;
  width: 50px;
  height: 3px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 16px);
}

.shadow_03 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
  transition: 0.8s;
}
.shadow_03:hover {
  box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
}
.shadow_03 h2 {
  position: relative;
}
.shadow_03 h2:after {
  content: " ";
  position: absolute;
  background-color: #62DB54;
  width: 50px;
  height: 3px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 16px);
}

.shadow_04 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 16rem rgba(28, 28, 28, 0.9) inset;
  transition: 0.8s;
}
.shadow_04:hover {
  box-shadow: 0 16rem rgba(26, 26, 26, 0) inset;
}
.shadow_04 h2 {
  position: relative;
}
.shadow_04 h2:after {
  content: " ";
  position: absolute;
  background-color: #62DB54;
  width: 50px;
  height: 3px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 16px);
}

.slide_superpower {
  position: relative;
}
.slide_superpower::after {
  content: "";
  position: absolute;
  border: 1px solid #C1C1C1;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  top: 8px;
  left: -8px;
  z-index: -1;
}

@media (min-width: 768px) {
  .banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg);
  }
  .home_teaching h2::after {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
@media (min-width: 1024px) {
  .home_teaching h2::after {
    left: 0%;
    transform: translate(0%, 0%);
  }
  .shadow_01 {
    box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
  }
  .shadow_02 {
    box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
  }
  .shadow_03 {
    box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
  }
  .shadow_04 {
    box-shadow: 0 615px rgba(28, 28, 28, 0.9) inset;
  }
}
@media (min-width: 1280px) {
  .shadow_01 h2:after, .shadow_02 h2:after, .shadow_03 h2:after, .shadow_04 h2:after {
    background-color: #62DB54;
    top: 100%;
    left: 0;
    transform: translate(0, 16px);
  }
}
html,
body {
  position: relative;
}

body {
  background: #2D2D2D;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.module1 .swiper {
  max-width: 640px;
  height: 100%;
  padding-left: 12px;
}

.module1 .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .module1 .swiper {
    max-width: 768px;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .module1 .swiper {
    max-width: 1024px;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .module1 .swiper {
    max-width: 1280px;
    height: 100%;
  }
}
.module2 .swiper {
  width: 100%;
  height: auto;
}

.module2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: white;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.module2.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.module2 .swiper-pagination-bullet {
  background-color: #62DB54;
  opacity: 1;
}

.module2 .swiper-pagination-bullet-active {
  width: 16px;
  border-radius: 100px;
}

.module2 .swiper-button-next:after, .module2 .swiper-button-prev:after {
  content: "";
}

@media (min-width: 1280px) {
  .module2 .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 62px;
    left: -130px;
  }
}/*# sourceMappingURL=style.css.map */