
    html,
    body {
      position: relative;
    }
    body {
      background: #2D2D2D;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    // 手機版header_nav---start
    .hamburger-container{
      display: block;
      width: 24px;
      height: auto;
      cursor: pointer;
      span{
        display: block;
        height: 2px;
        background-color:#62DB54 ;
        position: relative;
        transition:transform .3s ease-in-out, top .3s ease-in-out .3s ;
        top: 0;
        &:nth-child(2){
          margin-top: 7px;
        }
      }
    }
    .toggle:checked + label .hamburger-container span:nth-child(1){
      transform: rotate(45deg);
      top: 4px;
      transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .toggle:checked + label .hamburger-container span:nth-child(2){
      transform: rotate(-45deg);
      top: -5px;
      transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    .toggle:checked ~ .nav_sm{
      transform: scaleY(1);
      opacity: 1 !important;
    }
    .nav_sm{
      background-color: #2D2D2D;
      width: 100%;
      position: absolute;
      top: 72px;
      left: 0;
      margin-top: 0;
      transform: scaleY(0);
      transform-origin: 50% 0;
      transition: .5s;
      opacity: 0;
    }
    //手機版header_nav---end

    //swiper的container
    .module1 .swiper {
      max-width: 640px;
      height: 100%;
      padding-left: 12px;
    }

    //swiper內容物
    .module1 .swiper-slide {
      text-align: center;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    @media (min-width:768px) {
      .module1 .swiper {
        max-width: 768px;
        height: 100%;
      }
    }

    @media (min-width:1024px) {
      .module1 .swiper {
        max-width: 1024px;
        height: 100%;
      }
    }

    @media (min-width:1280px) {
      .module1 .swiper {
        max-width: 1280px;
        height: 100%;
      }
    }


    //swiper_superpower
    .module2 .swiper {
      width: 100%;
      height: auto;
    }
    .module2 .swiper-slide {
      text-align: center;
      font-size: 18px;
      color: white;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .module2.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .module2 .swiper-pagination-bullet {
      background-color: #62DB54;
      opacity: 1;
    }
    .module2 .swiper-pagination-bullet-active{
      width: 16px;
      border-radius: 100px;
    }
    .module2 .swiper-button-next:after,.module2 .swiper-button-prev:after {
      content: '';
    }
    .module2 .swiper-pagination-bullets.swiper-pagination-horizontal {
      @media (min-width:1280px) {
        bottom: 62px;
        left: -130px;
      }
    }


